<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Walmart BDD Suite" verbose="1" parallel="none">
    <test name="Regression Tests">
        <classes>
            <class name="com.walmart.tests.runner.TestRunner"/>
        </classes>
    </test>
</suite>
